/* *{
    border:1px solid red;
} */

.wrapper{
    display:flex;
    justify-content: center;
    
}
/* NOT DRY */
.itemHolder{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    margin-top:3%;
}

.priceHolder{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    margin-top:3%;
}
/* not dry */
 .trashIcon{
    margin-left:5%;
} 
.trashIcon:hover{
    cursor: pointer;
}

 .editIcon{
    margin-right:5%;
} 
.editIcon:hover{
    cursor: pointer;
}
/*  */
.items{
    width:25%;
}

.prices{
    width:25%;
}


.item{
    margin-right:10%;
}

.price{
    margin-left:10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .items,.prices{
        width:100%;
    }
    
    
}

@media only screen and (min-width: 600px) {
    .items,.prices{
        width:100%;
    }
    
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .items,.prices{
        width:35%;
    }
    .trashIcon{
        margin-left:2% ;
    }
    .editIcon{
        margin-right:2% ;
    }
    .item{
        margin-right:5%;
    }
    
    .price{
        margin-left:5%;
    }
    
}