/* *{
    border:1px solid red;
} */

.wrapper{
    display:flex;
    justify-content: center;
    
}
/* NOT DRY */
.itemHolder{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    margin-top:3%;
}

.priceHolder{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    margin-top:3%;
}
/* not dry */
 .trashIcon{
    margin-left:5%;
} 

 .editIcon{
    margin-right:5%;
} 
/*  */
.items{
    width:25%;
}

.prices{
    width:25%;
}


.item{
    margin-right:10%;
}

.price{
    margin-left:10%;
}