.labels{
    display:flex;
    justify-content: center;
}
.labels h3{
    width:25%;
    border-bottom:1px solid black;
}

.inputSection{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    margin-top:3%;
}

.inputParent{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    width:50%;
}


form .welcomeInput,.welcomeInput:focus {
    border:none;
    outline:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.addItemInputs{
    display:flex;
    width:50%;
    justify-content: space-between;
}

.addItemInputs input{
    text-align: center;
}

.inputUnderline{
    border-bottom: 1px solid black;
}


.addItemButton{
    width:100%;
    margin-top:5%;
}

.welcomeFooter{ 
    display:flex;
    justify-content: center;
    margin-top:10%;
}

.welcomeFooter h3{
    width:25%;
    border-top:1px solid black;
}