.welcomeHeader{
    margin-top:5%;
}

.labels{
    display:flex;
    justify-content: center;
}
.labels h3{
    width:25%;
    border-bottom:1px solid black;
}

.inputSection{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    margin-top:3%;
}

.inputParent{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    width:100%;
}


form .welcomeInput,.welcomeInput:focus {
    border:none;
    outline:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.addItemInputs{
    display:flex;
    width:70%;
    justify-content: space-around;
}

.addItemInputs input{
    text-align: center;
}

.inputUnderline{
    border-bottom: 1px solid black;
}


.addItemButton{
    width:70%;
    margin-top:2%;
}

.buttonStyle{
    width:15%;
    height:110%;
    border-radius: 10px;
    outline:none;
    background-color:#6aad6a;
    border:1px solid black;
 }


.totalButtonStyle{
    border-radius: 10px;
    outline:none;
    margin-top:2%;
    width:15%;
    background-color:#6aad6a;
    border:1px solid black;
    
}

.totalButtonStyle:hover,.buttonStyle:hover{
    transform: scale(1.01);
    box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.welcomeFooter{ 
    display:flex;
    justify-content: center;
    margin-top:10%;

}


.totalContain{
    display:flex;
    justify-content: flex-end;
        width:50%;
        border-top:1px solid black;   
}


.totalP{
    margin-top:2%;
    margin-right:10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .labels{
        margin-top:5%;
    }
    .labels h3{
        width:50%;
        border-bottom:1px solid black;
    }
    .totalContain{
        display:flex;
        justify-content: flex-end;
            width:100%;
            border-top:1px solid black;   

    }
    .totalButtonStyle{
        border-radius: 10px;
        outline:none;
        margin-top:2%;
        margin-right:4%;
        width:15%;
        background-color:#6aad6a;
        border:1px solid black;
        
    }
    .totalP{
        margin-top:2%;
        margin-right:5%;
    }
    .buttonStyle{
        width:30%;
        height:110%;
        border-radius: 10px;
        outline:none;
        background-color:#6aad6a;
        border:1px solid black;
     }
     .welcomeFooter{
         margin-top:20%;
     }

     .addItemInputs{
         margin-top:4%;
     }
    
     .addItemButton{
        margin-top:5%;
     }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .labels{
        margin-top:5%;
    }
    .labels h3{
        width:50%;
        border-bottom:1px solid black;
    }
    .totalContain{
        display:flex;
        justify-content: flex-end;
            width:100%;
            border-top:1px solid black;   

    }
    .totalButtonStyle{
        border-radius: 10px;
        outline:none;
        margin-top:2%;
        margin-right:4%;
        width:15%;
        background-color:#6aad6a;
        border:1px solid black;
        
    }
    .totalP{
        margin-top:2%;
        margin-right:5%;
    }
    .buttonStyle{
        width:30%;
        height:110%;
        border-radius: 10px;
        outline:none;
        background-color:#6aad6a;
        border:1px solid black;
     }
     .welcomeFooter{
        margin-top:20%;
    }

    .addItemInputs{
        margin-top:4%;
    }
   
    .addItemButton{
       margin-top:5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .labels{
        margin-top:5%;
    }
    .labels h3{
        width:35%;
        border-bottom:1px solid black;
    }
    .totalContain{
        display:flex;
        justify-content: flex-end;
            width:70%;
            border-top:1px solid black;   

    }
    .totalButtonStyle{
        border-radius: 10px;
        outline:none;
        margin-top:2%;
        margin-right:10%;
        width:10%;
        background-color:#6aad6a;
        border:1px solid black;
        
    }
    .totalP{
        margin-top:2%;
        margin-right:3%;
    }
    .buttonStyle{
        width:20%;
        height:110%;
        border-radius: 10px;
        outline:none;
        background-color:#6aad6a;
        border:1px solid black;
     }
    
}

@media only screen and (min-width: 1200px) {
    .labels{
        margin-top:3%;
    }
    .welcomeFooter{
        margin-top:10%;
    }

    .addItemInputs{
        margin-top:1%;
    }
   
    .addItemButton{
       margin-top:2%;
    }
}

